{% extends 'toodo/base.html' %}
{% load static %}

{% block extra_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Todo</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Todo</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="addTodoForm">
                <div class="form-group col">
                  <input type="text" class="form-control mb-2" id="todo_text" name="todo_text" placeholder="Todo">
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="expandForm">Expand</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="addTodoForm">Save</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Edit Todo</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="editTodoForm" method="post">
                <div class="form-group col">
                    <input type="text" class="form-control" id="edit_todo_text" name="todo_text">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="editTodoForm">Save</button>
            </div>
          </div>
        </div>
    </div>
    <ul class="list-group list-group-flush mt-4">
    {% include 'toodo/todo_items.html' with todos=private_todos %}
    </ul>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $("#addTodoForm").on('submit', (e) => {
        e.preventDefault();
        $('#exampleModal').modal('hide');
        const url = "{% url 'toodo:private' %}";
        const formData = {
          todo_text: addTodoForm.elements["todo_text"].value,
        };
        addTodo(url, formData);
        $("#addTodoForm").trigger("reset");
      });
      $("#editTodoForm").on('submit', (e) => {
        e.preventDefault();
        $('#myModal').modal('hide');
        const url = $('#editTodoForm').attr('action');
        const formData = {
          todo_text: editTodoForm.elements["todo_text"].value,
        };
        updateTodo(url, formData);
        $("#editTodoForm").trigger("reset");
      });
      $(document).on('click', '.delete-btn', function() {
          const url = $(this).data('url');
          deleteTodo(url);
      });
      $(document).on('change', '.form-check-input', function() {
          const url = $(this).data('url');
          const formData = {
            completed: $(this).is(':checked'),
          };
          completedTodo(url, formData);
      });
      
      $(document).ready(function() {
          const formFieldsContainer = $('#myform');
          const expandFormButton = $('#expandForm');
          const maxExpansions = 5;
          let expansionCount = 1;
          expandFormButton.on('click', function() {
              if (expansionCount < maxExpansions) {
                  const newInput = $('<div class="form-group col mb-2">' +
                          '<input type="text" class="form-control" id="todo_text' + expansionCount + '" name="todo_text" placeholder="Todo">' +
                        '</div>');
                  formFieldsContainer.append(newInput);
                  expansionCount++;
                  if (expansionCount == maxExpansions) {
                  expandFormButton.hide();
                  }
              } 
          });
      });
      function onCompDelShare(item) {
          const itemUrl = $(item).data('url');
          $('#mycompdelshareform').attr('action', itemUrl);
          $('#mycompdelshareform').submit();
      }
      function onEdit(item) {
          const itemUrl = $(item).data('update-url');
          const itemText = $(item).data('text');
          $('#edit_todo_text').val(itemText);
          $('#myeditform').attr('action', itemUrl);
      }
      function showOptions(item) {
          $(item).find('.form-check-input').show();
          $(item).find('.btn').show();
      }
      function hideOptions(item) {
          $(item).find('.form-check-input').hide();
          $(item).find('.btn').hide();
      }
    </script>
    <script src="{% static 'toodo/script.js' %}"></script>
{% endblock %}