{% extends 'toodo/base.html' %}
{% load static %}

{% block extra_content %}
    {% if public_todos %}
    <ul class="list-group list-group-flush mt-4">
    {% for todo in public_todos %}
        <li class="list-group-item list-group-item-action">
            <div class="d-flex text-muted">
                <small class="mb-2 me-2">{{ todo.user }}</small>
                <small>{{ todo.pub_date|date:"SHORT_DATETIME_FORMAT" }}</small>
            </div>
            <p class="mb-2">{{ todo.todo_text }}</p>
            <button id="upvoteButton{{ todo.id }}" type="button" class="btn btn-primary btn-sm upvote-btn" data-url="{% url 'toodo:public_update' todo.id %}" data-upvotes={{ todo.upvotes }}>Upvote</button>
            <small id="upvoteDisplay{{ todo.id }}" class="text-muted">{{ todo.upvotes }}</small>
            <button type="button" class="btn btn-primary btn-sm add-btn" data-text="{{ todo.todo_text }}">Add To Private</button>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>There are no todos to display.</p>
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
    $(document).on('click', '.add-btn', function() {
        const url = "{% url 'toodo:private' %}";
        const text = $(this).data('text');
        const formData = {
          'todo_text': text,
        };
        addTodoToPrivate(url, formData);
    });
    $(document).on('click', '.upvote-btn', function() {
        const url = $(this).data('url');
        const upvotes = $(this).data('upvotes') + 1;
        const formData = {
            'upvotes': upvotes,
        };
        updateTodoUpvotes(url, formData);
    });
</script>
<script src="{% static 'toodo/publicscripts.js' %}"></script>
{% endblock %}