{% extends 'toodo/base.html' %}

{% block extra_content %}
    {% if public_todos %}
    <ul class="list-group list-group-flush mt-4">
    {% for todo in public_todos %}
        <li class="list-group-item list-group-item-action">
            <div class="d-flex text-muted">
                <small class="mb-2 me-2">{{ todo.user }}</small>
                <small>{{ todo.pub_date|date:"SHORT_DATETIME_FORMAT" }}</small>
            </div>
            <p class="mb-2">{{ todo.todo_text }}</p>
            <small class="text-muted">upvotes: {{ todo.upvotes }}</small>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>There are no todos to display.</p>
    {% endif %}
{% endblock %}